<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    
    <bean id="pathInterpreter" class="org.codehaus.marmalade.msp.finder.PathTrimInterpreter">
        <property name="trim"><value>/marmalade-ext-msp-test</value></property>
    </bean>
    
    <bean id="scriptFinder" class="org.codehaus.marmalade.msp.finder.FileBasedScriptFinder">
        <property name="basePath"><value>WEB-INF/pages</value></property>
        <property name="pathInterpreter"><ref local="pathInterpreter"/></property>
    </bean>
    
    <bean id="contextProvider" class="org.codehaus.marmalade.msp.ctx.DefaultContextProvider"/>
    
    <bean id="faultHandler" class="org.codehaus.marmalade.msp.fault.DefaultScriptFaultHandler"/>
    
    <bean id="MSPHandler" class="org.codehaus.marmalade.msp.MSPHandler">
        <property name="scriptFinder"><ref local="scriptFinder"/></property>
        <property name="contextProvider"><ref local="contextProvider"/></property>
        <property name="scriptFaultHandler"><ref local="faultHandler"/></property>
    </bean>

</beans>
